/* 
* © 2022 Muunatic. All rights reserved.
*/

.welcome {
    overflow: hidden !important;
    z-index: 2147483647 !important;
    height: 100%;
    width: 100%;
    background-color: white;
    position: fixed;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.welcomecontent {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.temp {
    position: absolute !important;
    bottom: 10000000vh !important;
}