/* 
* © 2022 Muunatic. All rights reserved.
*/

.main2 {
    border-radius: 0px 0px 0px 0px;
    background-color: #272727;
}

.main2container {
    padding: 1rem;
    color: whitesmoke;
}

.main2title {
    font-weight: 900;
}

.main2content {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.main2contentbox {
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #323232;
}

.main2boxvalue {
    box-sizing: border-box;
    padding: 1rem;
}