/* 
* © 2022 Muunatic. All rights reserved.
*/

.main3 {
    border-radius: 0px 0px 0px 0px;
    background-color: #272727;
}

.main3container {
    padding: 1rem;
    color: whitesmoke;
}

.main3title {
    font-weight: 900;
}

.main3content {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.main3box {
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    display: inline-block;
    border-radius: 10px;
    background-color: #323232;
}

.main3value {
    padding: 0.5rem;
}